﻿@model IEnumerable<ORA.Models.EmployeeVisitor>

@{
    ViewData["Title"] = "Index";
}

<div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h2>Welcom to Arvato Systems Malaysia</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Visitor in the House
                    </th>

                    <th>
                        Looking For
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VisitorLogBook.VisitorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size: 20px; width: 300px" asp-area="" asp-controller="Visitor" asp-action="New">Register</a>
        <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size: 20px; width: 300px" asp-area=""
           asp-controller="Kiosk" asp-action="Index">Back to Home</a>
    </div>
</div>