﻿@model ORA.Models.VisitorLogBook

@{
    ViewData["Title"] = "VisitorList";
}
@using (Html.BeginForm("Insert", "VisitorController", FormMethod.Post))
{
<div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase text-center">
                <strong>ARVATO SYSTEMS OFFICE RECEPTION ASSISTANT</strong>
            </h1>
            <h2>Visitor Registration</h2>
        </div>
        <div class="col-lg-10 mx-auto">

            <div class="form-group">
                <label for="visitorName">Visitor Name:</label>
                @Html.EditorFor(model => model.VisitorName,new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label for="visitorIc">Visitor IC No:</label>
                @Html.EditorFor(model => model.VisitorIc,new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label for="visitorMobile">Visitor Mobile Number:</label>
                @Html.EditorFor(model => model.VisitorMobile,new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label for="usr">Looking For:</label>
                <input list="usrlist" type="text" class="form-control" id="usr">
                <datalist id="usrlist"></datalist>
                <input type="hidden" name="answer" id="usr-hidden">
                <input type="hidden" name="PersonId" id="PersonId">
            </div>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align: center">
            @Html.HiddenFor(model => model.PersonId)
            <input class="btn btn-primary btn-lg js-scroll-trigger" style="font-size: 20px; width: 300px"
                   type="submit" value="Register" formaction="Insert"  />
            @*<a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size: 20px; width: 300px" asp-area="" asp-controller="Visitor" asp-action="Insert">Insert</a>*@
            <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size: 20px; width: 300px" asp-area=""
               asp-controller="Kiosk" asp-action="Index">Back to Home</a>
        </div>
    </div>
</div>
}


@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/api/Person',
                success: function (response) {
                    $.each(response,
                        function (key, value) {
                            $('#usrlist').append($('<option>').text(value.name).attr('data-value', value.id));
                        });
                }
            });

            document.querySelector('input[list]').addEventListener('input',
                function (e) {
                    var input = e.target,
                        list = input.getAttribute('list'),
                        options = document.querySelectorAll('#' + list + ' option'),
                        hiddenInput = document.getElementById(input.id + '-hidden'),
                        inputValue = input.value;

                    hiddenInput.value = inputValue;

                    for (var i = 0; i < options.length; i++) {
                        var option = options[i];

                        if (option.innerText === inputValue) {
                            hiddenInput.value = option.getAttribute('data-value');
                            document.getElementById('PersonId').value = hiddenInput.value;
                            break;
                        }
                    }
                });
        });

    </script>
}