﻿@model ORA.Models.EmployeeProfile

<div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h2>Parcel List</h2>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>
                    Items
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.EmployeeDeliveries)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrackingNumber)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

