﻿@model ORA.Models.Delivery

@{
    ViewData["Title"] = "New Parcel";
}
@using (Html.BeginForm("Insert", "EmployeeProfileController", FormMethod.Post))
{
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>New Parcel</h2>
            </div>
            <div class="col-lg-10 mx-auto">
                <div class="form-group">
                    <label for="visitorName">Parcel ID :</label>
                    @Html.TextBoxFor(m => m.TrackingNumber)
                </div>
                <div class="form-group" style="visibility: hidden">

                    @Html.TextBoxFor(m => m.Recipient)
                </div>
            </div>
            <div class="col-lg-10 mx-auto" style="text-align: left">
                <button class="btn btn-primary btn-lg js-scroll-trigger" style="font-size: 20px; width: 300px"
                        asp-action="Insert" type="submit" class="btn btn-primary" value="Insert">
                    Insert
                </button>
                
                <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size: 20px; width: 300px" asp-area="" 
                   asp-controller="EmployeeProfile" asp-action="Index">Cancel</a>

            </div>
        </div>
    </div>
}
    @*@using (Html.BeginForm("Insert", "EmployeeProfileController", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>Parcel ID :</td>
                    <td>@Html.TextBoxFor(m => m.TrackingNumber)</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="hidden" name="EmployeeId" value="@Model.Recipient" />
                        <input type="submit" value="Save"
                               formaction="Insert" />
                        <input type="submit" value="Cancel"
                               formaction="Index" />
                    </td>
                </tr>
            </table>
        }*@


