﻿@model ORA.Models.EmployeeProfile

@{
    ViewData["Title"] = "Employee Profile Update";
}
@using (Html.BeginForm("Update", "EmployeeProfileController", FormMethod.Post))
{
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>Employee Profile</h2>
            </div>
            <div class="col-lg-10 mx-auto">
                <div class="form-group">
                    <label for="visitorName">Employee Mobile : </label>
                    @Html.EditorFor(model => model.EmployeeDetails.Mobile)
                </div>
                <div class="form-group">
                    <label for="visitorName">Employee IC Number : </label>
                    @Html.EditorFor(model => model.EmployeeDetails.Ic)
                </div>
                <div class="form-group">
                    <label for="visitorName">Employee Status : </label>
                    @* @Html.EditorFor(model => model.EmployeeDailyStatus.Status)*@

                    @{
                        var listItems = new List<SelectListItem>();
                        listItems.Add(new SelectListItem { Text = "On Leave", Value = "0" });
                        listItems.Add(new SelectListItem { Text = "In Office", Value = "1" });
                        listItems.Add(new SelectListItem { Text = "Work From Home", Value = "2" });
                    }

                    @Html.DropDownListFor(model => model.EmployeeDailyStatus.Status, listItems)

                </div>
                <div class="form-group">
                    <label for="usr">Delegation :</label>
                    <input list="usrlist" type="text" class="form-control" id="usr">
                    <datalist id="usrlist"></datalist>
                    <input type="hidden" name="answer" id="usr-hidden">
                    <input type="hidden" name="EmployeeDelegationId" id="EmployeeDelegationId">
                </div>
            </div>
            <div class="col-lg-10 mx-auto" style="text-align: left">
                @Html.HiddenFor(model => model.EmployeeDelegationId)
                <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
                <input class="btn btn-primary btn-lg js-scroll-trigger" style="font-size: 20px; width: 300px"
                       type="submit" value="Save" formaction="Update" />
                <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size: 20px; width: 300px" asp-area="" asp-controller="EmployeeProfile" asp-action="Index">Cancel</a>
            </div>
        </div>
    </div>
}

@section Scripts
    {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/api/Person',
                success: function (response) {
                    $.each(response,
                        function (key, value) {
                            $('#usrlist').append($('<option>').text(value.name).attr('data-value', value.id));
                        });
                }
            });

            document.querySelector('input[list]').addEventListener('input',
                function (e) {
                    var input = e.target,
                        list = input.getAttribute('list'),
                        options = document.querySelectorAll('#' + list + ' option'),
                        hiddenInput = document.getElementById(input.id + '-hidden'),
                        inputValue = input.value;

                    hiddenInput.value = inputValue;

                    for (var i = 0; i < options.length; i++) {
                        var option = options[i];

                        if (option.innerText === inputValue) {
                            hiddenInput.value = option.getAttribute('data-value');
                            document.getElementById('EmployeeDelegationId').value = hiddenInput.value;
                            break;
                        }
                    }
                });
        });

    </script>
}
