﻿@model ORA.Models.EmployeeProfile

@{
    ViewData["Title"] = "Index";
}

<div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h2>Employee Profile</h2>
        </div>
        <div class="col-lg-10 mx-auto">
            <div class="form-group">
                <label for="visitorName">Employee Name : </label>
                @Html.DisplayFor(model => model.EmployeeDetails.Name)
            </div>
            <div class="form-group">
                <label for="visitorName">Employee Mobile : </label>
                @Html.DisplayFor(model => model.EmployeeDetails.Mobile)
            </div>
            <div class="form-group">
                <label for="visitorName">Employee IC Number : </label>
                @Html.DisplayFor(model => model.EmployeeDetails.Ic)
            </div>
            <div class="form-group">
                <label for="visitorName">Employee Status : </label>
                @{
                    var status = "";
                    if (Model.EmployeeDailyStatus.Status == "0")
                    {
                        status = "On Leave";

                    }
                    else if (Model.EmployeeDailyStatus.Status == "1")
                    {
                        status = "In Office";
                    }
                    else if (Model.EmployeeDailyStatus.Status == "2")
                    {
                        status = "Work From Home";
                    }
                }
                @Html.Label(status)
            </div>
            <div class="form-group">
                <label for="visitorName">Delegation : </label>
                @Html.DisplayFor(model => model.EmployeeDelegationName)
            </div>

        </div>
        <div class="col-lg-10 mx-auto" style="text-align: left">
        @using (Html.BeginForm("Edit", "EmployeeProfileController", FormMethod.Post))
        {
            <input type="hidden" name="EmployeeId" value="@Model.EmployeeId"/>
            <button class="btn btn-primary btn-lg js-scroll-trigger" style="font-size: 20px; width: 300px" 
                    asp-action="Edit" type="submit" class="btn btn-primary" value="Edit">Edit Profile</button>
        }
        </div>

        <br /><br /><br />

        @Html.Partial("~/Views/EmployeeProfile/_EmployeeParcel.cshtml", Model)
        <div class="col-lg-10 mx-auto" style="text-align: left">
        @using (Html.BeginForm("New", "EmployeeProfileController", FormMethod.Post))
        {
            <input type="hidden" name="EmployeeId" value="@Model.EmployeeId"/>
            <button class="btn btn-primary btn-lg js-scroll-trigger" style="font-size: 20px; width: 300px"
                    asp-action="New" type="submit" class="btn btn-primary" value="New">New</button>
        }
        </div>
        @*<p>
            @Html.DisplayFor(model => model.EmployeeDetails.Name)
        </p>
        <p>
            @Html.DisplayFor(model => model.EmployeeDetails.Mobile)
        </p>
        <p>
            @Html.DisplayFor(model => model.EmployeeDetails.Ic)
        </p>
        <p>
            @Html.DisplayFor(model => model.EmployeeDailyStatus.Status)
        </p>*@
        @*@using (Html.BeginForm("Edit", "EmployeeProfileController", FormMethod.Post))
        {
            <span>
                <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
                <button asp-action="Edit" type="submit" class="btn btn-primary" value="Edit">Edit Profile</button>
            </span>
        }*@
        @*<br /><br />
        <br />
        @Html.Partial("~/Views/EmployeeProfile/_EmployeeParcel.cshtml", Model)
        @using (Html.BeginForm("New", "EmployeeProfileController", FormMethod.Post))
        {
            <span>
                <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
                <button asp-action="New" type="submit" class="btn btn-primary" value="New">New</button>
            </span>
        }*@
    </div>
</div>



