﻿<div class="container my-auto" id="result" >
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase text-center">
                <strong>ARVATO SYSTEMS OFFICE RECEPTION ASSISTANT</strong>
            </h1>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center; font-size:30px" id="txtMessage">

            <hr>
        </div>
        <br />
        <div class="col-lg-10 mx-auto" style="text-align:center">
            <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size:20px; width:300px" onclick="window.close()">Close</a>
        </div>
    </div>
</div>

<div class="container my-auto" id="main" >
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase text-center">
                <strong>ARVATO SYSTEMS OFFICE RECEPTION ASSISTANT</strong>
            </h1>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center; font-size:30px" id="txtMessage">

            <hr>
        </div>
        <br />
        <div class="col-lg-10 mx-auto" style="text-align:center">
            <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size:20px; width:300px" onclick="accept()">Pick Up</a>          
            <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size:20px; width:300px" onclick="window.close()">Close</a>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

    
    
    function GetParameterValues(param) {
        var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for (var i = 0; i < url.length; i++) {
            var urlparam = url[i].split('=');
            if (urlparam[0] == param) {
                return urlparam[1];
            }
        }
    }  

    $(document).ready(function () {
        $("#result").hide();
        $("#main").hide();
        var id = GetParameterValues('id');

        var options = {};
        options.url = "/api/Deliveries/getdeliverystatus/" + id;
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {
            if (data != "") {//already pickup
                $("#txtMessage").append("<h3>Parcel was picked up by " + data + "</h3>");
                $("#result").show();
                $("#main").hide();
            }
            else {
                $("#main").show();
                $("#result").hide();
            }
        };
        options.error = function () {
            //$("#msg").html("Error while calling the Web API!");
        };
        $.ajax(options);
    });

    function accept() {
        var id = GetParameterValues('id');

        var options = {};
        options.url = "/api/Deliveries/acceptparcel/" + id;
        options.type = "POST";
        options.dataType = "json";
      
        options.success = function (data) {
            if (data != "") {//already pickup
                $("#txtMessage").append("<h3>" + data + "</h3>");
                $("#result").show();
                $("#main").hide();
            }
            else {
                $("#txtMessage").append("<h3> Please pick up now </h3>");
                $("#result").show();
                $("#main").hide();
                setTimeout(function () { window.close(); }, 3000);
            }
        };
        options.error = function () {
            //$("#msg").html("Error while calling the Web API!");
        };
        $.ajax(options); 
    }


</script>