﻿
<div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase text-center">
                <strong>ARVATO SYSTEMS OFFICE RECEPTION ASSISTANT</strong>
            </h1>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center; font-size:30px">
            <p class="text-faded mb-5" >Kindly choose your favourite!</p>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center">
            <a class="btn btn-primary btn-block" style="font-size:50px" asp-area="" asp-controller="Kiosk" asp-action="Parcel">Deliver Parcel</a>
        </div>
        <div class="col-lg-10 mx-auto">
            <br />
            <br />
            <br />
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center">
            @*<a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size:50px; width:500px"  asp-area="" asp-controller="Visitor" asp-action="Index">Visitor</a>*@
            <a class="btn btn-primary btn-block" style="font-size:50px;" asp-area="" asp-controller="Visitor" asp-action="New">Register</a>
        </div>
    </div>
</div>
