﻿@model List<ORA.Models.Delivery>

<div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase text-center">
                <strong>ARVATO SYSTEMS OFFICE RECEPTION ASSISTANT</strong>
            </h1>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto">
            <form>
                <div class="form-group">
                    <label for="usr">Recipient:</label>
                    <input list="usrlist" type="text" class="form-control" id="usr">
                    <datalist id="usrlist"></datalist>
                    <input type="hidden" name="answer" id="usr-hidden">
                </div>
                <div class="form-group">
                    <label for="pwd">Parcel Tracking Number:</label>
                    <input type="text" class="form-control" id="pwd">
                </div>
            </form>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center">
            <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size:20px; width:300px" onclick="CheckDelivery()">Submit</a>
            <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size:20px; width:300px" asp-area="" asp-controller="Kiosk" asp-action="Index">Back to Home</a>
        </div>

        <br />
        <div id="errMsg" class="col-lg-10 mx-auto alert alert-danger" style="display:none">
        </div>        
    </div>
</div>

@section Scripts {

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '/api/Person',
                success: function (response) {
                    $.each(response, function (key, value) {
                        $('#usrlist').append($('<option>').text(value.name).attr('data-value', value.id));
                    });
                }
            });

            document.querySelector('input[list]').addEventListener('input', function (e) {
                var input = e.target,
                    list = input.getAttribute('list'),
                    options = document.querySelectorAll('#' + list + ' option'),
                    hiddenInput = document.getElementById(input.id + '-hidden'),
                    inputValue = input.value;

                hiddenInput.value = inputValue;

                for (var i = 0; i < options.length; i++) {
                    var option = options[i];

                    if (option.innerText === inputValue) {
                        hiddenInput.value = option.getAttribute('data-value');
                        break;
                    }
                }
            });
        });

        function CheckDelivery() {
            var userId = $('#usr-hidden').val();
            var parcelNo = $('#pwd').val();

            $.ajax({
                type: 'POST',
                url: '/api/Person/GetPerson/' + userId + '/' + parcelNo,
                success: function (response) {
                    var link = '@(Url.Action("Timer", "Kiosk", new { userId = "replaceId", deliveryId = "replacedId" }))';
                    link = link.replace("replaceId", response.recipient);
                    link = link.replace("replacedId", response.id);

                    window.location.href = link;
                },
                error: function (response) {
                    var json = $.parseJSON(response.responseText);
                    $('#errMsg').css("display", "block");
                    $('#errMsg').text(json.errorMsg);
                }
            });
        }
    </script>

}