﻿<div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase text-center">
                <strong>ARVATO SYSTEMS OFFICE RECEPTION ASSISTANT</strong>
            </h1>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center; font-size:20px">
            <p>Thanks for waiting, the parcel recipient is on the way coming to collect.</p>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center">
            <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size:20px; width:300px" asp-area="" asp-controller="Kiosk" asp-action="Index">OK</a>
        </div>
    </div>
</div>
