﻿@model ORA.Models.Person

<div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase text-center">
                <strong>ARVATO SYSTEMS OFFICE RECEPTION ASSISTANT</strong>
            </h1>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center; font-size:20px">
            <p>Here is the receipiant IC/Passport Number:</p>
            <h1>@Model.Ic</h1>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center; font-size:20px">
            <p>Here is the receipiant phone Number:</p>
            <h1>@Model.Mobile</h1>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center">
            <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size:20px; width:300px" onclick="UpdateDelivery()">OK</a>
            <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size: 20px; width: 300px" asp-area=""
               asp-controller="Kiosk" asp-action="Index">Back to Home</a>
        </div>

        <br />
        <div id="errMsg" class="col-lg-10 mx-auto alert alert-danger" style="display:none">
        </div>
        <div id="Msg" class="col-lg-10 mx-auto alert alert-success" style="display:none">
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        function UpdateDelivery() {
            var userId = @ViewData["userId"];
            var deliveryId = @ViewData["deliveryId"];

            $.ajax({
                type: 'POST',
                url: '/api/Deliveries/AcceptParcelByIC/' + deliveryId + '/' + userId,
                success: function (response) {
                    //var json = $.parseJSON(response);
                    $('#Msg').css("display", "block");
                    $('#Msg').append(response.msg);

                    setTimeout("location.href = '/Kiosk/Index';", 10000);
                },
                error: function (response) {
                    var json = $.parseJSON(response.responseText);
                    $('#errMsg').css("display", "block");
                    $('#errMsg').text(json.errorMsg);
                }
            });
        }
    </script>

}