﻿<div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase text-center">
                <strong>ARVATO SYSTEMS OFFICE RECEPTION ASSISTANT</strong>
            </h1>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center; font-size:20px">
            <p>Please get the receptionist or employee to insert below credential for retrieving recipient's IC/Passport number for your signing certificate.</p>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto">
            <form>
                <div class="form-group">
                    <label for="pwd">consignee email:</label>
                    <input type="text" class="form-control" id="email">
                </div>
            </form>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center">
            <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size:20px; width:300px" id="say_hello" onclick="Reveal()">Submit</a>
            <a class="btn btn-primary btn-lg js-scroll-trigger" style="font-size:20px; width:300px" asp-area="" asp-controller="Kiosk" asp-action="Index">Cancel</a>
        </div>

        <br />
        <div id="errMsg" class="col-lg-10 mx-auto alert alert-danger" style="display:none">
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>   
        function Reveal() {
            var userId = @ViewData["userId"];              
            var deliveryId = @ViewData["deliveryId"]; 
            var email = $('#email').val();

            $.ajax({
                type: 'GET',
                url: '/api/Person/GetPersonICByEmail/' + email + '/' + deliveryId + '/' + userId,
                success: function (response) {
                    var link = '@(Url.Action("Reveal", "Kiosk", new { deliveryId = "replaceId", userId = "replacedId" }))';
                    link = link.replace("replacedId", response.id);
                    link = link.replace("replaceId", deliveryId);

                    window.location.href = link;
                },
                error: function (response) {
                    var json = $.parseJSON(response.responseText);
                    $('#errMsg').css("display", "block");
                    $('#errMsg').text(json.errorMsg);
                }
            });
        }
    </script>

}