﻿<div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase text-center">
                <strong>ARVATO SYSTEMS OFFICE RECEPTION ASSISTANT</strong>
            </h1>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto" style="text-align:center; font-size:30px">
            <p>Please wait for the recipient response within 1 minute.</p>
            <hr>
        </div>
        <div class="col-lg-10 mx-auto">
            <div id="timer" style="color:red; font-size:200px; text-align:center">1:00</div>
        </div>
    </div>
</div>


<script type="text/javascript">

    var timeoutHandle;
    function countdown(minutes) {
        var seconds = 60;
        var mins = minutes
        function tick() {
            var counter = document.getElementById("timer");
            var current_minutes = mins - 1
            seconds--;
            counter.innerHTML =
                current_minutes.toString() + ":" + (seconds < 10 ? "0" : "") + String(seconds);
            if (seconds > 0) {
                timeoutHandle = setTimeout(tick, 1000);
            } else {          
                if (mins > 1) {
                    setTimeout(function () { countdown(mins - 1); }, 1000);
                }
                else if (seconds === 0) {
                    var userId = @ViewData["userId"];              
                    var deliveryId = @ViewData["deliveryId"];                    

                    var link = '@(Url.Action("TimeOut", "Kiosk", new { deliveryId = "replaceId", userId = "replaceuserId" }))';
                    link = link.replace("replaceId", deliveryId);
                    link = link.replace("replaceuserId", userId);
                    window.location.href = link;
                }
            }
        }
        tick();
    }

    countdown(1);

    var myVar = setInterval(getStatus, 3000);
    
    function getStatus() {

        var deliveryId = @ViewData["deliveryId"]

        var options = {};
        options.url = "/api/Deliveries/getdeliverystatus/" + deliveryId;
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {
            if (data !== "") {//already pickup
                clearInterval(myVar);
                window.location.href = '@(Url.Action("Receive", "Kiosk"))';
            }
        };
        options.error = function () {
            //$("#msg").html("Error while calling the Web API!");
        };
        $.ajax(options);

    }


</script>